@charset "UTF-8"; 

p{
	color:black;
    text-align: center;
	font-size: 18px;
}

h1{
	text-align: center;
	color:white;
}

h2{
    color: white;
    text-align: center;
    font-size: 60px;
    border: thick solid red;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h3{
	color:white;
	font-size:16px;
}
h5{
	text-align: center;
	font-size: 25px;
}


h6{
	text-align: center;
	color: yellow;
	font-size: 45px;
}
h7{
	color:white;
}

h8{
	color: white;
}

h9{
	color:black;
}

.banners2{
	background-color:red;
}
