@charset "UTF-8";
*{
	padding:0;
	margin:0;
	font-family: 'Arimo';
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/got78.jpg");
	background-size: cover;
	background-position: center;
}
h1{
	text-align: center;
	color:white;
}
	
#h1About {
	color:red;
}

#forestgreen{
	background-color: forestgreen;
	text-align: center;
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
#green{
	background-color: green;
	text-align: center;
	color: white;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
#darkgreen{
	background-color: darkgreen;
	text-align: center;
	color: white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
h2{
	text-align: center;
	background-color: palegreen;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
p{
	color:white;
	font-size:16px;
}
h3{
	text-align: center;
	background-color: aquamarine;
}


.center {
	text-align: center;
}

.cardtitle {
	margin-top: 40px;
	text-align: center;
	text-color: yellow;
	font-size: 60px;
	font-style: oblique;
}
.h6{
	text-color: yellow;
}


.card-group{
	margin-top: 70px;
}

.card-text{
	text-color: black;
}

.card-group{
	margin-left: 40px;
	margin-right: 40px;
}

.banners{
	background-color:#FFFC3B;
}

h4 {
	text-align: left;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	color: azure;
	font-size: 35px
	
}
	
h5{
	color: aliceblue;
	font-size: 13;
	text-align: center;
}

.banners2{
    background-color: #FF0000;
}
.titlesjust{
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
}

.stressreliever{ 
	text-color: white;
        text-align: left;
	}

header h1 {
	text-align: center;
	color: red;
	font-family: Verdana;
	font-size: 70px;
	margin: 50px;
}

body {
	background-color: #000000;
}

main .row .col {
	height: 800px;
}

main .row .col section {
	color: white;
	margin: 20px;
	text-align: left;
	padding-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

main .row {
		width: 70%;
		background-color: #282828;
		margin: 0 auto;
}

main .row .col section h4 {
    color: white;
    font-size: 20px;
}
 
.titlesjust{
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
}
.textjust{
	text-align: center;
	font-size: 14px;
}

.textjustcur{
	text-align: center;
	font-size: 14px;
	font-style: oblique;
}

.banners2{
	background-color:#FF0004;
}